/*Start =========index page, sign -in page================== */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 100%;
  height: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}

.header {
  background-color: #34A853;
  width: 100%;
  height: 90px;
  margin-bottom: 60px;
  
}

.footer {
  background-color: #34A853;
  width: 100%;
  height: 160px;
  margin-top: 80px;
}
.footer-icons{
  margin: auto;
  width:150px;
  padding: 20px;
}
.nav-bar-image{
  float: left;
}

a {
  text-decoration: none;
  color: red;
}

#menu {
  margin: 15px;
  float: right;
}

#menu li {
  font-size: 20px;
  display: inline;
  list-style: none;
  color: #ffffff;
  margin-right: 30px;
}

#menu li a {
  color: #ffffff;
  padding: 15px;
  float: left;
  margin: 0 0 0 50px;
  background-color: #008000;
}

#menu li a:hover {
  background-color: #228B22;
  color: #FFFF00;
}
.section {
  background-color: #ffffff;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 700px;
  font-size: 20px;
}
input[type=text], input[type=password] {
  width: 96%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid;
  background: #f1f1f1;
  font-size: 20px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #f1f1f1;
  outline: none;
}

hr {
  border: 1px solid #98FB98;
  margin-bottom: 25px;
}

button {
  background-color: #FFDEAD;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 25px;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  float: left;
  justify-content: space-between;
  width: 50%;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.table-container {
  margin: 20px auto;
  width: 1300px;
  align-content: center;
  align-items: center;
  font-size: 17px;
}
/*End =========index page, sign -in page================== */

/* Start=========Create party================== */

.createParty {
  background-color: beige;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 600px;
  font-size: 20px;
}
/* End========= Create party ================== */

/* Start=========Edit party================== */

.editParty {
  background-color: beige;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 600px;
  font-size: 20px;
}
/* End=========Edit party================== */

/* Start=========admin dash/delete party================== */

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 25px;
  color: black;
}

table tr:nth-child(even){background-color: #f2f2f2;}



table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: black;
}
.table-container {
  width: 900px;
  align-content: center;
  align-items: center;
  font-size: 17px;
}
/* End=========admin dash/delete party================== */
/* Start=========Create government office================== */

.createOffice {
  background-color: beige;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 600px;
  font-size: 20px;
}
/* End========= Create government office ================== */

/* Start=========Politician express interest================== */

.interestForm{
  background-color: beige;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 600px;
  font-size: 20px;
}

/* End========= Politician express interest================== */

/* Start=========User dashboard / view all political parties================== */

.dash-body{
  color: #006400;
  margin: auto;
  width: 1000px;
  padding: 20px;
  align-content: center;
  align-items: center;
  font-size: 17px;
  border-color: black;
  margin-bottom: 110px;
}

.dash-img-layout{
  float: left;
  margin: 50px;
  width: 220px;
  height: 460px;
  background-color: white;
  color: black;
  text-align: center;
  align-items: center;
}
.dash-img-container{
  width: 100%;
  align-content: center;
  border: solid green;
  border-radius: 15px;
}

.dash-img-container::after{
  content: "";
  clear: both;
  display: table;
}
.vote{
  display: flex;
  justify-content: center;  
}
#upVote{  
  padding: 10px;
}
#downVote{  
  padding: 10px;
}
.election-result{
  background-color: #006400;
  margin: 30px auto;
  width: 1400px; 
  height: 500px;
  clear: both
}
.mission {
  color: black;
  margin: auto;
  width: 900px;
  padding: 50px;
}

.banner {
  color: #006400;
  margin: auto;
  width: 900px;
  padding: 20px;
  align-content: center;
  align-items: center;
  font-size: 17px;
  border-color: black;
}

/* End=========User dashboard / view all political parties================== */
/* Start=========User profile================== */

.userProfile{
  background-color: beige;
  margin-top: 40px;
  padding: 20px 10px;
  margin: auto;
  width: 600px;
  font-size: 20px;
  margin-bottom: 200px;
}
#userTable {
  width: 100%;  
}

#userTable td, #userTable th {
  padding: 2px;
  font-size: 18px
}

#userTable th {
  text-align: left;
  background-color: white;
  color: black;
}
/* End=========User profile ================== */

/*START =============================MEDIA QUERIES===================*/
@media(max-width: 900px){

  #menu{
    display: flex;
    flex-direction: row;
  
  }
  #navbar-img-index{
    display: none;
    margin: auto;
  
  }
  #menu .e-interest{
    font-size: 13px;
    padding-bottom: 5px;
  }
  /*===============media sign in and sign up page==================== */
  section input[type=text], input[type=password] {
    width: 10%;
    text-align: center;
    font-size: 10px;
  }
  
  .cancelbtn, .signupbtn{
    width: 100%;
  }
  .section {
    background-color: white;
    padding: 10px 10px;
    margin: auto;
    width: 450px;
  }
  /* ==============media for page where a user can view government offices============= */
  .dash-body{
    width: 70%;
    margin: auto;
  }
  .dash-img-container{
    width: 100%;
    margin: auto;
  }
  /* =================media for page where user can vote politician of politicians =======================*/
  #navbar-img-details{
    display: none;
    margin: auto;
  }
  /* =======media for express of interest for =================== */
  #navbar-img-express{
    display: none;
    margin: auto;
  }
  .interestForm{
    margin: auto;
    width: 90%;
    
  }
  
  /* =======================Media for Admin can create a political office  */
  #nav-image-office{
    display: none;
    float: right;
  }
  .createOffice{
    margin: auto;
    width: 90%;
  }
  
  /* =========================Media for user can create political parties */
  #navbar-img-party{
    display: none;
  }
  .createParty{
    margin: auto;
    width: 90%;
  }
  
  /* ===================user profile==================================== */
  
  #navbar-img-profile{
    display: none;
    float: right;
  }
  
  .userProfile{
    background-color: #32CD32;
    margin: auto;
    width: 90%;
  
  }
  #userTable , #td, #th{
    float: left;
    margin: auto;
    background-color: #f2f2f2;
  }
  
  /* ==========================Media for admin can edit political party */
  #navbar-img-edit{
    display: none;
  }
  .editParty{
    margin: auto;
    width: 90%;
  }
  
  /* =======================media for admin can edit or delete political party */
  #navbar-img-admin{
    display: none;
  }
  #admin-container {
    width: 100%; 
    margin:auto;
  }
  /* ==================large admin table============== */
  .admin-table, thead, tbody, th, td, tr button{ 
    display: block;
  
     
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 10
  }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 2000%; 
    background-color: #ffffff;
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute,;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  }
  /* END=============================MEDIA QUERIES===================*/